<a href="/user" style="text-decoration: none;">
<div class="row" style="height:400px;">
    <div class="col-md-4" style="background-image: url('../../assets/userButton.jpeg'); background-repeat: no-repeat;background-size: cover;"></div>
    <div class="col-md-4" style="background-color: #f5f4ec;text-align: center;">
    <h1 style="color:rgb(65, 10, 115);font-family: fantasy;margin-top: 200px;">User Explorer</h1>
    </div>
    <div class="col-md-4" style="background-image: url('../../assets/userButton.jpeg'); background-repeat: no-repeat;background-size: cover;"></div>
</div>
</a>